# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
build
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.cache/
coverage
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/*.cache
__pycache__/
.editorconfig
*.swp
*.swo
*.lock
.dbclient/
.docker/