@import "../_base-theme.scss";

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: #212529;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
